.gameContainer{
    position: absolute; 
    top: 0; 
    left: 0;
}

.gameContainer > div{
    position: absolute;
}

.buttons{
    position: absolute;
    right: 20px;
    top: 20px;
}
/* 
body{
    transform-origin: 0 0;
    transform: scale(0.5, 0.5);
} */