.gameContainer{
    position: absolute; 
    top: 0; 
    left: 0;
}

.gameContainer > div{
    position: absolute;
}

.buttonContainer{
    background-color: rgba(0, 0, 0, 0.63);
    padding: 2px;
    position: absolute;
    right: 1px;
    top: 1px;
}

.buttonContainer > div{
    margin-top: 10px;
}

.buttonContainer > div > div{
    background-color: white;
    color: black;
}

.gameContainer{
    transform-origin: 0 0;
    transform: scale(0.5, 0.5);
}